.results-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60%;
  max-width: 600px;
  min-width: 250px;
  margin: 50px auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  &__inner {
    padding: 10px !important;
    width: 100%;
    background-color: #fff;
    > li:not(:last-child) {
      border-bottom: solid 1px grey;
    }
  }
}
