@import '../../scss/main';

.search-bar {
  position: relative;
  width: 300px;
  &__input {
    width: 100%;
    padding: 0.5em;
    border-radius: 2%;
    border: solid 1px grey;
    &:focus-visible {
        box-shadow: 0 0 7pt 1pt #878686;
        outline: none;
    }
  }
  &__results {
    position: absolute;
    background-color: white;
    padding: 0.4em;
    margin: 0px;
    border: solid 1px rgb(215, 199, 199);
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    > li:not(:last-child)::after{
        content: "";
        display: block;
        background-color: grey;
        height: 1px;
        width: 100%;
    }
    &--hidden {
      visibility: collapse;
      height: 0px;
      padding: 0px;
      margin: 0px;
      overflow: hidden;
    }
  }
}
