@import "../../scss/main";

.search-bar {
    position: relative;
    width: 200px;
    &__input {
        width: 100%;
        border-radius: 5px;
    }
    &__results {
        position: absolute;
        padding: 3px;
        margin: 0px;
        border: solid 1px red;
        width: 100%;
        list-style-type: none;
        overflow: hidden;
        &--hidden {
            animation: ease-out 1.5s;
        }
    }
}