@import '../../scss/main';

.search-bar {
  position: relative;
  width: 200px;
  &__input {
    width: 100%;
    border-radius: 5px;
  }
  &__results {
    position: absolute;
    padding: 3px;
    margin: 0px;
    border: solid 1px red;
    width: 100%;
    list-style-type: none;
    overflow: hidden;
    &--hidden {
      visibility: collapse;
      height: 0px;
      padding: 0px;
      margin: 0px;
      overflow: hidden;
    }
  }
}
