.result-item {
  max-height: 50px;
  width: 100%;
  cursor: pointer;
  list-style: none;
  background-color: #ffffff;
  &:hover {
    opacity: 0.7;
  }
  &__inner {
    display: flex;
    flex-direction: row;
    padding: 2px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 5%;
    }
    &-data {
      display: flex;
      flex-direction: column;
      padding: 3px 10px;
      &__icon {
        margin-bottom: -2px;
      }
    }
  }
}
